@media (max-width: 1280px) {
}

@media (max-width: 1024px) {
  /* --------------------- sidebar --------------------- */
  .sidebar {
    width: 80px;
    overflow-y: visible;
  }
  /* #1 icon & logo */
  .sidebar .container .logo {
    justify-content: center;
    gap: 0;
  }
  .sidebar .container .logo h1,
  .sidebar .container .logo span {
    display: none;
  }
  /* #2 navbar */
  .sidebar nav {
    margin-bottom: 16px;
  }
  .sidebar nav ul li {
    justify-content: center;
  }
  .sidebar nav ul li span {
    display: none;
  }
  /* #3 quick-actions */
  .quick-actions h3 {
    display: none;
  }
  .quick-actions ul li {
    padding: 8px;
    justify-content: center;
  }
  .quick-actions ul li span {
    display: none;
  }
  /* --------------------------------------------------------------- */
  /* --------------------- finance-manager --------------------- */
  main {
    width: calc(100% - 80px);
  }
  /* --------------------- header --------------------- */
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
  /* --------------------- finance-manager --------------------- */
  main {
    width: 100%;
  }
}

@media (max-width: 568px) {
  /* --------------------- header --------------------- */
  header .container {
    padding: 16px;
    align-items: start;
    flex-direction: column;
  }
  header .container .logo h1 {
    font-size: 24px;
  }
  header .container .logo h1 + span {
    font-size: 12px;
  }
  .state-logo {
    display: none;
  }
  .state-header {
    display: flex;
    width: 100%;
  }
  header .container .user {
    width: 100%;
  }
  header .container .user .user-name .name {
    display: none;
  }
}

@media (max-width: 480px) {
}
