@media (max-width: 1280px) {
  /* --------------------- sidebar --------------------- */
  .sidebar {
    width: 80px;
    overflow-y: visible;
  }
  /* #1 icon & logo */
  .sidebar .container .logo {
    justify-content: center;
    gap: 0;
  }
  .sidebar .container .logo h1,
  .sidebar .container .logo span {
    display: none;
  }
  /* #2 navbar */
  .sidebar nav {
    margin-bottom: 16px;
  }
  .sidebar nav ul li {
    justify-content: center;
  }
  .sidebar nav ul li span {
    display: none;
  }
  /* #3 quick-actions */
  .quick-actions h3 {
    display: none;
  }
  .quick-actions ul li {
    padding: 8px;
    justify-content: center;
  }
  .quick-actions ul li span {
    display: none;
  }
  /* --------------------------------------------------------------- */
  /* --------------------- finance-manager --------------------- */
  main {
    width: calc(100% - 80px);
  }
  /* --------------------- header --------------------- */
}

@media (max-width: 1024px) {
  /* notifications */
  .dashboard-widgets .container .notifications {
    grid-column: span 6;
    order: 1;
  }
  /* transactions */
  .dashboard-widgets .container .transactions {
    grid-column: span 12;
    order: 3;
  }
  /* bills */
  .dashboard-widgets .container .bills {
    grid-column: span 6;
    order: 4;
  }
  /* budget-overview-card */
  .dashboard-widgets .container .budget {
    grid-column: span 6;
    grid-row: span 1;
    order: 6;
  }
  /* income-vs-expenses-card */
  .dashboard-widgets .container .income-vs-expenses {
    grid-column: span 6;
    order: 2;
  }
  /* payment-methods-card */
  .dashboard-widgets .container .payment {
    grid-column: span 6;
    grid-row: span 1;
    order: 7;
  }
  /* account-summary-card */
  .dashboard-widgets .container .account {
    grid-column: span 6;
    order: 5;
  }
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
  /* --------------------- finance-manager --------------------- */
  main {
    width: 100%;
  }
  /* --------------------- summary-cards --------------------- */
  .summary-cards .container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media (max-width: 568px) {
  /* --------------------- header --------------------- */
  header .container {
    padding: 16px;
    align-items: start;
    flex-direction: column;
  }
  header .container .logo h1 {
    font-size: 24px;
  }
  header .container .logo h1 + span {
    font-size: 12px;
  }
  .state-logo {
    display: none;
  }
  .state-header {
    display: flex;
    width: 100%;
  }
  header .container .user {
    width: 100%;
  }
  header .container .user .user-name .name {
    display: none;
  }
  /* --------------------- dashboard-widgets --------------------- */
  /* notifications */
  .dashboard-widgets .container .notifications {
    grid-column: span 12;
  }
  /* transactions */
  .dashboard-widgets .container .transactions {
    grid-column: span 12;
    order: 2;
  }
  /* bills */
  .dashboard-widgets .container .bills {
    grid-column: span 12;
    order: 3;
  }
  /* budget-overview-card */
  .dashboard-widgets .container .budget {
    grid-column: span 12;
    order: 4;
  }
  /* income-vs-expenses-card */
  .dashboard-widgets .container .income-vs-expenses {
    grid-column: span 12;
    order: 5;
  }
  /* payment-methods-card */
  .dashboard-widgets .container .payment {
    grid-column: span 12;
    order: 7;
  }
  /* account-summary-card */
  .dashboard-widgets .container .account {
    grid-column: span 12;
    order: 6;
  }
}

@media (max-width: 480px) {
}
