/*  global rules */
* {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  color: var(--main-font-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  line-height: 1.5;
}

/* colors */
:root {
  --main-font-color: #101828;
  --main-background-color: linear-gradient(0deg, #eff0f1 0%, #f9fafb 100%);
  --logo-icon: linear-gradient(135deg, #2158f8 0%, #4134dc 100%);
  --blue: #2c51f2;
  --gray: #4a5565;
  --white: #fff;
}
.bg-light-orange {
  background-color: #fff0e6;
}
.bg-light-purple {
  background-color: #f7edff;
}
.bg-light-green {
  background-color: #e6faee;
}
.bg-light-blue {
  background-color: #eaf3ff;
}
/* ----------------------------------------------------------------- */
img {
  width: 100%;
}
.container {
  width: 80%;
  margin: auto;
}
/* ----------------------------------------------------------------- */
/* flex */
.flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gap-16 {
  gap: 16px;
}
/* ----------------------------------------------------------------- */
/* font */
.f36 {
  font-size: 36px;
}
.f14 {
  font-size: 14px;
}

.w700 {
  font-weight: 700;
}
.w600 {
  font-weight: 600;
}
.w500 {
  font-weight: 500;
}

.gray {
  color: var(--gray);
}
.blue {
  color: var(--blue);
}
/* --------------------------------------------------------------- */
/* --------------------- sidebar --------------------- */
.dashboard {
  position: relative;
  display: flex;
  justify-content: end;
}
.sidebar {
  position: fixed;
  background-color: var(--white);
  right: 0;
  height: 100vh;
  z-index: 999;
  width: 250px;
  border-left: 1px solid #e5e7eb;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #9ca3af4d transparent;
  transition: 0.2s ease-in-out;
}
.sidebar .container {
  padding-block: 16px;
}

/* #1 icon & logo */
.sidebar .container .logo {
  align-items: end;
  margin-bottom: 32px;
}
.sidebar .container .logo .icon {
  width: 56px;
  height: 56px;
  padding: 16px;
  border-radius: 16px;
  background: var(--logo-icon);
}

/* #2 navbar */
.sidebar nav {
  margin-bottom: 32px;
}
.sidebar nav ul li.link-active {
  border: 1px solid #dbeafe;
  background-color: #eff6ff;
}
.sidebar nav ul li {
  border-radius: 12px;
  padding: 12px 16px;
  margin-bottom: 8px;
  cursor: pointer;
}
.sidebar nav ul li.link:hover {
  background-color: #f9fafb;
}
.sidebar nav ul li .icon {
  width: 24px;
  height: 24px;
}

/* #3 quick-actions */
.quick-actions h3 {
  margin-bottom: 16px;
}
.quick-actions ul li {
  border-radius: 12px;
  padding: 12px 16px;
  margin-bottom: 8px;
  cursor: pointer;
  align-items: center;
  transition: 0.2s ease-in-out;
}
.quick-actions ul li:hover {
  transform: translate(2px);
}
.quick-actions ul li .icon {
  width: 40px;
  height: 40px;
  border-radius: 8px;
}
.quick-actions ul li .icon img {
  width: 20px;
}
.quick-actions ul li.link:hover {
  background-color: #f9fafb;
}
/* --------------------------------------------------------------- */
/* --------------------- finance-manager --------------------- */
main {
  /* background: var(--main-background-color); */
  width: calc(100% - 250px);
  min-height: 100vh;
  transition: 0.2s ease-in-out;
}
